.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #09d3ac;
}

.m-header,
.m-footer {
  height: 4rem;
}

.main-container {
  height: calc(100% - 8rem);
}

.one-col {
  background: url('./assets/icons/one.png') no-repeat left center;
}

.two-cols {
  background: url('./assets/icons/two.png') no-repeat left center;
}

.three-cols {
  background: url('./assets/icons/three.png') no-repeat left center;
}
